    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3><i class="fa fa-map-marker"></i> Местоположение</h3>
                        <p>Россия
                            <br>Челябинская область</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3><i class="fa fa-globe"></i> В Интернете</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://vk.com/malorytheking" class="btn-social btn-outline"><span class="sr-only">Vkontakte</span><i class="fa fa-vk"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/nOnsensefTw" class="btn-social btn-outline"><span class="sr-only">Twitter</span><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://github.com/MaloryTheKing" class="btn-social btn-outline"><span class="sr-only">Github</span><i class="fa fa-github"></i></a>
                            </li>
                            <li>
                               <a href="https://t.me/malorytheking" class="btn-social btn-outline"><span class="sr-only">Telegram</span><i class="fa fa-telegram"></i></a>
                            </li>
                            <li>
                                <a href="http://steamcommunity.com/id/malorytheking" class="btn-social btn-outline"><span class="sr-only">Steam</span><i class="fa fa-steam"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3><i class="fa fa-angellist"></i> Обо Мне</h3>
                        <p> Веб Разработчик готовый к взаимовыгодному сотрудничеству. <a href="https://vk.com/malorytheking">Написать</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Шварц Евгений 2017 г.
                    </div>
                </div>
            </div>
        </div>
    </footer>
