    <!-- Header -->
    <header>
        <div class="container" id="maincontent" tabindex="-1">
            <div class="row">
                <div class="col-lg-12">
                    <%= image_tag "profile.png", class: "img-responsive" %>
                    <div class="intro-text">
                        <h1 class="name">Шварц Евгений Вячеславович</h1>
                        <hr class="star-light">
                        <span class="skills">Проектирую - Дизайню - Программирую</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Портфолио</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <% @posts.each do |post| %>
                <div class="col-sm-4 portfolio-item">
                    <%= link_to post_path(post) do %>
                      <%= image_tag post.image, class: 'img-responsive' %>
                    <% end %>
                    </div>
                <% end %>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Обо Мне</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                  <p>Ключевые навыки:</p>
                  <ul>
                    <li><p>Внимательность</p></li>
                    <li><p>Работа в команде</p></li>
                    <li><p>Умею работать на результат</p></li>
                    <li><p>Английский — читаю профессиональную литературу</p></li>
                    <li><p>Всегда открыт для чего-то нового</p></li>
                    <li><p>Быстро обучаюсь</p></li>
                  </ul>
                </div>
                <div class="col-lg-4">
                    <p>Работал с технологиями:</p>
                  <ul>
                    <li><p>Ruby on Rails (4,5), Turbolinks, jquery_ujs</p></li>
                    <li><p>HTML 5 (Slim), CSS 3 (Sass), Bootstrap(3,4), jQuery</p></li>
                    <li><p>SQL, PostgreSQL (ActiveRecord)</p></li>
                    <li><p>Unicorn, Puma</p></li>
                    <li><p>Heroku, VPS (Digital Ocean, Vscale), AWS (S3, Cloudfront)</p></li>
                    <li><p>Carrierwave, CKEditor, TinyMCE</p></li>
                    <li><p>Git, Trello, Slack </p></li>
                  </ul>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2><i class="fa fa-envelope-o"></i> <%= mail_to "nonsenseftw@yandex.ru", "Напишите мне", class: 'mail-me',subject: "Приветствую! Пожалуйста напишите своё имя и почтовый адрес" %></h2>
            <small>Пишите мне интересующие вас вопросы.<br>
                      Я постараюсь ответить, как можно скорее!</small>
            <hr class="star-primary">
          </div>
        </div>
      </div>
    </section>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>
