.portfolio-item {
    margin-bottom: 25px;
}
h1.page-header {
  margin-top: 70px;
}

a.mail-me {
  color: #323537;
}
 a.mail-me:hover, a.mail-me:focus, a.mail-me:visited{
  color: #000000;
  text-decoration: none;
}

a.write, a.write:focus, a.write:hover {
     color: #b3b3b3;
     text-decoration: underline;
}
a.write:hover {
     color: #fff;
}
